.transaction-row {
  display: flex;
  width: 100%;
  padding: 0;
  height: 2em;
  font-size: 0.8em;
  list-style: none;
  margin-left: 0px;
  border: 1px solid #d7dfe9;
  align-items: center;
  justify-content: space-between;
}
.delete-icon {
  width: 20px;
  height: 20px;
  margin: 1px;
}
.delete-btn {
  background: transparent;
  border: none;
}
.p {
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.type {
  text-transform: capitalize;
}
